
<div class="container-fluid " id="con">
  <header style="background-image: url('../back.jpg');">
    <div class="overlay"></div>
    <!-- navigation -->
    <nav class="navbar navbar-default">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button class="navbar-toggler navbar-toggler-left" type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <!-- <button type="button" class=" navbar navbar-toggleable-md" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false"> -->
            <span class="navbar-toggler-icon"></span>
          
          </button>
          <div class="navbar-brand" ><strong>{{title}}</strong></div>
        </div>
     
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="navbar-nav mr-auto">
            <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
            <li><a routerLink="/movie">Movies-Now</a></li>
            <li><a routerLink="/favourite-list">Favourite-List</a></li>
            <li><a routerLink="/parent-movi">Search-Movie</a></li>
            <li><a href="#">Login/SignUp</a></li>
          
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav><!-- /navigation -->
  </header> 
 

 
 
    <router-outlet></router-outlet>   

    
 
 <!--footer-->
</div>
 <footer >
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <div class="container-fluid bg-primary py-3">
 <div class="container">
   <div class="row">
     <div class="col-md-7">
         <div class="row py-0">
      
         <div class="col-sm-11 text-white">
             <div><h4>  Contact</h4>
                 <p>   <span class="header-font">MovieEntertainment</span><span class="header-font"></span>bookyourmovie.com</p>
             </div>
         </div>
         </div>
     </div>
     <div class="col-md-5">
       <div class="d-inline-block">
         <div class="bg-circle-outline d-inline-block" style="background-color:#3b5998">
           <a href="https://www.facebook.com/"><i class="fa fa-2x fa-fw fa-facebook text-white"></i>
 </a>
         </div>
         <div class="bg-circle-outline d-inline-block" style="background-color:#4099FF">
           <a href="https://twitter.com/">
             <i class="fa fa-2x fa-fw fa-twitter text-white"></i></a>
         </div>

         <div class="bg-circle-outline d-inline-block" style="background-color:#0077B5">
           <a href="https://www.linkedin.com/company/">
             <i class="fa fa-2x fa-fw fa-linkedin text-white"></i></a>
         </div>
         <div class="bg-circle-outline d-inline-block" style="background-color:#d34836">
           <a href="https://www.google.com/">
             <i class="fa fa-2x fa-fw fa-google text-white"></i></a>
         </div>
       </div>
     </div>
   </div>
 </div>
 </div>

 
 <p class="text-center"> Copyright 2017 © Movie Entertainment Pvt. Ltd. All Rights Reserved. </p>  
</footer>