
    <nav class="navbar navbar-inverse bg-inverse mynav ">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" routerLink="/home" routerLinkActive="active">
            <img src="../favicon.png" width="30" height="30" class="d-inline-block align-top" alt="">
            {{title}}
          </a>
      
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
          <ul class="navbar-nav mr-auto mt-2 mt-md-0">
            <li class="nav-item active">
              <a class="nav-link" routerLink="/home" >Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/movie">Movies</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " routerLink="/parent-movi">Search-Movie</a>
              </li>
            <li class="nav-item">
                
              <a class="nav-link " routerLink="/favourite-list">Favourite-List</a>
            </li>
          
          </ul>
          
          <!-- <form class="form-inline my-2 my-lg-0">
              <i class="fa fa-user"></i>
            <div class=" my-2 my-sm-0" ><a  routerLink="/login">Login</a></div>
          </form>   -->
        </div>
      </nav>



 <div class="container-fluid outlet">
 
    <router-outlet></router-outlet>   
 </div>
    
 
 <!--footer-->

 <footer >
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <div class="container-fluid bg-primary py-3">
 <div class="container">
   <div class="row">
     <div class="col-md-7">
         <div class="row py-0">
      
         <div class="col-sm-11 text-white">
             <div><h4>  Contact</h4>
                 <p>   <span class="header-font">MovieEntertainment</span><span class="header-font"></span>bookyourmovie.com</p>
             </div>
         </div>
         </div>
     </div>
     <div class="col-md-5">
       <div class="d-inline-block">
         <div class="bg-circle-outline d-inline-block" style="background-color:#3b5998">
           <a href="https://www.facebook.com/"><i class="fa fa-2x fa-fw fa-facebook text-white"></i>
 </a>
         </div>
         <div class="bg-circle-outline d-inline-block" style="background-color:#4099FF">
           <a href="https://twitter.com/">
             <i class="fa fa-2x fa-fw fa-twitter text-white"></i></a>
         </div>

         <div class="bg-circle-outline d-inline-block" style="background-color:#0077B5">
           <a href="https://www.linkedin.com/company/">
             <i class="fa fa-2x fa-fw fa-linkedin text-white"></i></a>
         </div>
         <div class="bg-circle-outline d-inline-block" style="background-color:#d34836">
           <a href="https://www.google.com/">
             <i class="fa fa-2x fa-fw fa-google text-white"></i></a>
         </div>
       </div>
     </div>
   </div>
 </div>
 </div>

 
 <p class="text-center"> Copyright 2017 © Movie Entertainment Pvt. Ltd. All Rights Reserved. </p>  
</footer>