
    
    <div class=" container-fluid  popular">
      <ul>
        <div class="container">
    <div *ngFor="let search of ref.results | paginate :{ itemsPerPage:10, currentPage: p }"  >
            <app-display [ref]="search"></app-display>
 
    </div>
        </div>
    </ul>
    
    
   
    </div>
    <pagination-controls (pageChange)="p =$event"></pagination-controls>
    <div class="container-fluid">
        
            <div class="container-fluid">
                 
              
                   <blockquote class="quote-card blue-card">
                    <p>
                        “It's funny how the colors of the real world only seem really real when you watch them on a screen.” 
                   </p>
              
                   <cite>
                    ― Anthony Burgess, A Clockwork Orange
                  </cite>
                </blockquote>
             
              
                <blockquote class="quote-card red-card">
                  <p>
                    “You know what your problem is, it's that you haven't seen enough movies - all of life's riddles are answered in the movies."
                  </p>
              
                  <cite>
                    ― Steve Martin
                  </cite>
                </blockquote>
              
               
              
              </div>
    
      </div>