
#se{
    size: 100%;
 }
 h2{
    text-align: center;
 }
 #containt{
    padding-top: 20px;
    text-align: center;
    background-color:darkslategrey;
 }
 #containt1{
     background-color: black;
 }
 .popular{
    margin-top: 100px;
    }
 
 